/* 
   @file viewer/_general.sass 
   @author Research Software Company
   @description Frankenstein Variorum Viewer general styles . */

.App
    background-color: $lightest_neutral
    padding: 25px
    min-height: 100vh

.fontfamily-base 
  font-family: $basefont


.fontfamily-heading 
  font-family: $headingfont


.fontfamily-alt 
  font-family: $altfont

.dot 
    height: 10px
    width: 10px
    border-radius: 50%
    display: inline-block
    background-color: gray
    margin-right: 10px

.small-dot
    height: 6px !important
    width: 6px !important
    margin-right: 6px

.dot-break
    opacity: 0

.select-style 
    width: 200px
    padding-top: 15px

.ed-1818
    background-color: $clr_1818
    
.ed-1823
    background-color: $clr_1823

.ed-1831
    background-color: $clr_1831
    
.ed-Thomas
    background-color: $clr_thomas
    
.ed-MS
    background-color: $clr_ms

button
    cursor: pointer

.right
    float: right
    display: inline-block

.center
    text-align: center

// .row
//     display: flex
//     justify-content: space-around

// .in-row
//     display: inline-block

.margin-button
    margin-left: 20px

.options-label
    display: block
    input
        margin-top: 10px

.edition-label
    margin-right: 20px

.tei-del .tei-cdata // descendants, not only direct children
    text-decoration: line-through

.in-line
    display: inline-block

.bold-choose
    font-weight: bold
    padding-bottom: 10px

.paging-buttons
    margin-left: 25px

.prev 
    height: 30px
    width: 30px
    border: none !important
    background: url("../../images/prev_btn.svg") no-repeat
   
.prev:hover
    background: url("../../images/prev_btn_over.svg") no-repeat
    
.prev:disabled
    background: url("../../images/prev_btn_inactive.svg") no-repeat
    cursor: not-allowed

.next
    height: 30px
    width: 30px
    border: none !important
    background: url("../../images/next_btn.svg") no-repeat
   
.next:hover 
    background: url("../../images/next_btn_over.svg") no-repeat
    
.next:disabled
    background: url("../../images/next_btn_inactive.svg") no-repeat
    cursor: not-allowed

.app-list-to-divider
    border-top: 9px solid gray
    margin-top: 40px
