.dot 
    height: 8px
    width: 8px
    border-radius: 50%
    display: inline-block
    background-color: green

.select-style 
    display: inline-block
    min-width: 200px
    margin-left: 10px
    margin-right: 15px

.ed-1818
    background-color: #FDB27B
    
.ed-1823
    background-color: #6FBCC0

.ed-1831
    background-color: #E378BF
    
.ed-Thomas
    background-color: #98C99F
    
.ed-MS
    background-color: #8380E2

.disable-button
    opacity: 0.65
    cursor: not-allowed

.line
    border-top: 6px solid

.edition-name
    display: inline-block
    text-align: center

.right
    float: right
    display: inline-block

.center
    text-align: center

// .rowC
//     display:flex
//     flex-direction:row

// .aaa
//     display: inline-block

.margin-button
    margin-left: 20px
    