.tei-cdata
    &.no-text
        opacity: 0

    &.tei-del
        text-decoration: line-through

    line-height: 40px;

.app-intensity-0
    background-color: #f0f0f0

.app-intensity-1
    background-color: #c0c0c0

.app-intensity-2
    background-color: #a0a0a0

.app-intensity-3
    background-color: #808080

.tei-container div
    display: inline

.reading-group-content div
    display: inline 

.app-wrapper
    position: relative

.app-wrapper-dots
    width: 200px;
    position: absolute
    top: 0
    left: 0
    margin-top: 18px;
